.hero{
    display: flex;
align-items: center;
flex-direction: column;
gap: 35px;
}


h1 {
    font-size: 3em;
    color: #B0B0B0;
    font: caption  "Fira Sans", serif;
  }
h2 {
    font-size: 2rem;
    font: caption;
  }
.hero p{
    width: 50%;
text-align: center;
font-size: 24px;
line-height: 40px;
color: #B0B0B0;
}
.zish{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.hero-connect{
    padding: 25px 45px;
border-radius: 50px;
background-color: rgb(42, 46, 46);
cursor: pointer;
}
.hero-resume {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 50px;
    /* background-image: linear-gradient(to right, #0b1417 0%, #020b35 51%, #0f191d 100%); */
    background-image: linear-gradient(to right, #e7e2e2 0%, #000000 51%, #655a89 100%);


    color: #E0FFFF;

    font-size: 22px;
    padding: 20px 68px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: color 0.4s;
    z-index: 1;
}

.hero-resume::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #c242c5, #1212b6); */
    background-image: linear-gradient(to right, #101010 0%, #522974 51%, #000000 100%);

    transition: left 0.4s;
    border-radius: 50px;
    z-index: 0;
}

.hero-resume:hover::before {
    left: 0;
}

.hero-resume span {
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
}

.hero-resume a {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
}
